<p-table [value]="placeholder" [scrollable]="true" [virtualScroll]="true" scrollHeight="300px" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      Top 10 Business by review
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Reviews</th>
      <th>Category</th>
      <th>Stars</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.open}}</td>
      <td>{{data.reviewCount}}</td>
      <td>{{data.category}}</td>
      <td>
        <p-rating [ngModel]="data.stars" [readonly]="true" [cancel]="false"></p-rating>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{data? data.length : 0 }} placeholder.
    </div>
  </ng-template>
</p-table>
