<div fxLayoutAlign="center center" fxFlexFill class="main-div">
<mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page 
    </mat-toolbar>
    <form fxLayout="column" class="Login-Form">
        <mat-form-field  appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="User XYZ">
        </mat-form-field>
      
        <mat-form-field  appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type= "Password" placeholder="123456">
        </mat-form-field>
        <button mat-raised-button type="submit">Login
        </button>
      </form>
</mat-card>

</div>
