<div class="container">
  <div class="Chart-1">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="Chart-2">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="Chart-3">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="Chart-4">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="Chart-5">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="Chart-6">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="Chart-7">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="Chart-8">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
  <div class="Chart-9">
    <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
  </div>
</div>
