<!-- Navigation Bar as FilterBar -->
<div *ngIf="isLoading" class="center">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
<div class="pos-f-t">
  <nav class="navbar navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" (click)="resetFilter()"aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <nav class="navbar navbar-light bg-light">
      <div class="row">
        <p>
          <mat-form-field>
            <mat-select [formControl]="stateCtrl" placeholder="State" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="stateFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                {{state}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-select [formControl]="cityCtrl" placeholder="City" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="cityFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-select [formControl]="catCtrl" placeholder="Categories" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="catFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let cat of filteredCats | async" [value]="cat">
                {{cat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-label>Choose a Status:</mat-label>
            <mat-select [formControl]="openCtrl" [(value)]="open">
              <mat-option value="true">Open</mat-option>
              <mat-option value="false">Closed</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <label>Rating</label>
        <rating [max]=5 [readonly]="false" [formControl]="starCtrl" style="color: #ffdf00;font-size: 25px;">
        </rating>
      </div>
      <div class="row">
        <div class="col-md-12 bg-light text-right">
          <button type="button" (click)="updateData()" class="btn btn-primary">Save Filter</button>
        </div>
      </div>
    </nav>
  </div>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort">

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- city Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let row"> {{row.city}} </td>
    </ng-container>

    <!-- stars Column -->
    <ng-container matColumnDef="stars">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stars </th>
      <td mat-cell *matCellDef="let row">
        <rating [max]=5 [readonly]="true" [(ngModel)]="row.stars" style="color: #ffdf00;font-size: 25px;">
        </rating>
      </td>
    </ng-container>

    <!-- reviews Column -->
    <ng-container matColumnDef="reviewCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reviews </th>
      <td mat-cell *matCellDef="let row"> {{row.reviewCount}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.open}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10,15,20]" aria-label="Select page: "></mat-paginator>

  <div *ngIf="!isLoading">
    <div echarts [autoResize]="true" [merge]="openMerge" [options]="openClosedOptions" class="echart"></div>
  </div>
  <div *ngIf="!isLoading">
    <div echarts [options]="starOption" [merge]="starMerge" class="echart"></div>
  </div>
</div>
