/* Structure */
table {
  width: 100%;
}

::ng-deep mat-form-field .mat-form-field-infix {
  width: initial;
}


.mat-column-position {
 width: 25%;
}
  .mat-form-field {
    font-size: 13px;
    width: 90%;
  }
  .mat-input-container {
    font-size: 13px;
    flex-grow: 1;
    margin-left: 32px;
  }

  .mat-table {
    overflow: auto;
  }

  .customWidthClass{
    flex: 0 0 50px;
  }
  